@keyframes fondu {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes escape {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes spinny {
  0% {
    transform: rotate(0deg);
    background: #29d;
  }
  50% {
    transform: rotate(180deg);
    background: #00427c;
  }
  100% {
    transform: rotate(360deg);
    background: #29d;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  box-shadow: 0px 10px 20px #dcdada;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("./fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("./fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("./fonts/roboto/roboto-regular-webfont.eot") format("embedded-opentype"), url("./fonts/roboto/roboto-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto bold";
  src: url("./fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("./fonts/roboto/roboto-bold-webfont.eot") format("embedded-opentype"), url("./fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("./fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("./fonts/roboto/roboto-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto medium";
  src: url("./fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("./fonts/roboto/roboto-medium-webfont.eot") format("embedded-opentype"), url("./fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("./fonts/roboto/roboto-medium-webfont.woff") format("woff"), url("./fonts/roboto/roboto-medium-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("./fonts/shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("./fonts/shrikhand/shrikhand-regular-webfont.eot") format("embedded-opentype"), url("./fonts/shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("./fonts/shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("./fonts/shrikhand/shrikhand-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "roboto", "roboto bold", "shrikhand", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  text-rendering: geometricPrecision;
  letter-spacing: -0.5px;
}
@media screen and (max-width: 479px) {
  body {
    width: 480px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    width: 1024px;
  }
}

.board__button {
  background: linear-gradient(#ff79da 4%, #9356dc);
  padding: 10px 26px;
  font-size: 1.2rem;
  border: transparent 0px solid;
  border-radius: 50px;
  color: white;
  text-align: center;
  display: block;
  margin: 0px auto;
  font-family: "roboto";
  box-shadow: 0px 1px 10px #9356dc;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.board__button:hover::after {
  opacity: 1;
}
.board__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0px 5px 5px #9356dc;
  background: linear-gradient(#a16be0 0%, #ff46cc 100%);
  border-radius: 50px;
  transition: opacity 250ms;
}

header {
  width: 100%;
}
header img {
  height: 40px;
  display: block;
  margin: 0px auto 0px;
  padding: 20px;
  box-sizing: content-box;
}

.arrow__logo {
  position: absolute;
  top: 27px;
  left: 20px;
  font-size: 1.6rem;
  color: black;
}

.footer {
  background: #353535;
  color: white;
  padding: 20px 40px 40px;
  list-style: none;
  text-rendering: geometricprecision;
}
@media screen and (min-width: 600px) and (max-width: 757px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 758px) and (max-width: 1023px) {
  .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
.footer__title {
  font-family: "shrikhand";
  font-size: 1.4rem;
  padding-bottom: 20px;
}
@media screen and (min-width: 758px) and (max-width: 1023px) {
  .footer__title {
    margin: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__title {
    margin: 20px;
  }
}
.footer__info {
  padding-bottom: 5px;
  font-size: 1.2rem;
}
@media screen and (min-width: 758px) and (max-width: 1023px) {
  .footer__info {
    margin: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__info {
    margin: 20px;
  }
}
.footer__ustensils {
  padding-right: 15px;
}
.footer__hands {
  padding-right: 5px;
}
.footer__contact {
  text-decoration: none;
  color: white;
}

.logo {
  position: relative;
  top: -5px;
}

.search {
  width: 100%;
  color: black;
  height: 55px;
  background-color: #eaeaea;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  transition: all;
}
.search__input {
  height: 55px;
  display: inline;
  margin: 0 auto;
  background-color: #eaeaea;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  color: black;
}
.search__input:focus-visible {
  outline: none;
}
.search__input:focus {
  background-color: #e0e0e0;
}
.search__input::before {
  content: "Paris, Belleville";
  color: black;
}
.search__input::placeholder {
  color: black;
}
.search__input:focus::-webkit-input-placeholder {
  color: transparent !important;
}
.search__input:focus::-moz-placeholder {
  color: transparent !important;
}
.search__input:hover .search {
  background-color: #e0e0e0;
}
.search__logo {
  float: left;
  position: relative;
  top: 15px;
  left: 14px;
  font-size: 1.2rem;
}

.board {
  background: #f6f6f6;
  padding: 60px 0 80px;
}
.board__title {
  padding: 0px 75px;
  text-align: center;
  font-size: 1.8rem;
  font-family: "roboto bold";
  margin-bottom: 20px;
}
.board__prg {
  font-size: 1.3rem;
  padding: 0px 30px 30px;
  text-align: center;
  color: #808080;
}

nav {
  padding: 20px 20px 40px;
  display: flex;
  flex-flow: column wrap;
}
nav h1 {
  font-size: 1.8rem;
  font-family: "roboto bold";
  margin: 20px;
}
nav li {
  text-align: center;
  font-size: 1.2rem;
}

.functionning__wrapper {
  list-style: none;
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .functionning__wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 20px;
  }
}
.functionning__btn {
  margin: 20px auto;
  font-family: "roboto medium";
  cursor: pointer;
  padding: 30px 0px;
  border-radius: 50px;
  position: relative;
  width: 400px;
  background-color: #f6f6f6;
  box-shadow: 0px 10px 20px #dcdada;
  z-index: 1;
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .functionning__btn {
    width: 100%;
    flex: 1 1 auto;
  }
}
.functionning__btn:hover::after {
  opacity: 1;
}
.functionning__btn:hover i {
  color: #3c166a;
}
.functionning__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f2eafb;
  border-radius: 50px;
  opacity: 0;
  z-index: -1;
  box-shadow: 0px 5px 5px #dcdada;
  transition: opacity 250ms;
}
.functionning__number {
  border: solid 1px #9356dc;
  background: #9356dc;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 100px;
  padding: 5px 10px;
  position: absolute;
  left: -13px;
  top: 27px;
}
.functionning__logo {
  color: grey;
  position: absolute;
  left: 50px;
  top: 32px;
  font-size: 1.4rem;
}
.functionning__title {
  font-size: 1.8rem;
  font-family: "roboto bold";
  margin: 20px;
}
@media screen and (min-width: 600px) and (max-width: 757px) {
  .functionning__title {
    text-align: center;
  }
}
@media screen and (min-width: 758px) and (max-width: 1023px) {
  .functionning__title {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .functionning__title {
    text-align: center;
  }
}

main {
  background: #f6f6f6;
  padding: 20px 20px 40px;
}
main h1 {
  font-size: 1.8rem;
  font-family: "roboto bold";
  margin: 20px;
}

.restaurants__container {
  background: #f6f6f6;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .restaurants__container {
    display: flex;
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 600px) and (max-width: 757px) {
  .restaurants__container {
    align-items: center;
  }
}
@media screen and (min-width: 758px) and (max-width: 1023px) {
  .restaurants__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.restaurants {
  flex: 1;
  width: 420px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  border: #dad6d6 0px solid;
  text-decoration: none;
  position: relative;
  box-shadow: 0px 10px 20px #dcdada;
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .restaurants {
    flex: 1 1 auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 757px) {
  .restaurants {
    flex: 0 1 auto;
    width: 540px;
  }
}
@media screen and (min-width: 758px) and (max-width: 1023px) {
  .restaurants {
    flex: 1 1 auto;
    width: 320px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    flex: 1 1 auto;
    width: 320px;
  }
}
.restaurants:hover :nth-child(3) {
  opacity: 1;
}
.restaurants__frame {
  height: 250px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .restaurants__frame {
    flex: 1 1 auto;
  }
}
.restaurants__title {
  font-size: 1.8rem;
  font-family: "roboto bold";
  margin: 20px;
}
@media screen and (min-width: 600px) and (max-width: 757px) {
  .restaurants__title {
    text-align: center;
  }
}
@media screen and (min-width: 758px) and (max-width: 1023px) {
  .restaurants__title {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__title {
    text-align: center;
  }
}
.restaurants__img {
  width: 480px;
  height: 250px;
  object-fit: cover;
}
@media screen and (min-width: 480px) and (max-width: 599px) {
  .restaurants__img {
    flex: 1 1 auto;
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 757px) {
  .restaurants__img {
    width: 540px;
  }
}
.restaurants__legend {
  height: 100px;
  text-decoration: none;
}
.restaurants h2 {
  font-family: "roboto bold";
  padding: 20px 15px 0px;
  font-size: 1.4rem;
  color: #000000;
}
.restaurants__location {
  padding: 0px 15px;
  font-size: 1.4rem;
  color: #000000;
}
.restaurants__logo {
  position: absolute;
  right: 25px;
  bottom: 35px;
  font-size: 1.6rem;
  width: 25px;
  color: black;
  opacity: 1;
  font-weight: 400;
  transition: all, 330ms;
}
.restaurants__new {
  position: absolute;
  right: 15px;
  top: 25px;
  padding: 5px 10px;
  background: #99e2d0;
  color: #008766;
  border: #99e2d0 1px solid;
  font-size: 1.2rem;
}

i.far.fa-heart {
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 5;
  color: black;
  font-weight: 400;
  transition: all, 330ms;
}
i.far.fa-heart:hover {
  color: #9356dc;
  font-weight: 900;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: #99e2d0;
  animation: loader 6000ms;
  animation-fill-mode: both;
  opacity: 0;
  z-index: 10;
  font-size: 20vh;
  color: white;
}
.loader:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.loader i {
  animation: rotate 3000ms;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=styles.css.map */
