@keyframes fondu {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes escape {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes spinny {
  0% {
    transform: rotate(0deg);
    background: #29d;
  }
  50% {
    transform: rotate(180deg);
    background: #00427c;
  }
  100% {
    transform: rotate(360deg);
    background: #29d;
  }
}
