@mixin heading-title {
  padding-bottom: 10px;
  font-family: "roboto bold";
  font-size: $font-size-primary;
}

@mixin padding-mobile {
  @media screen and (max-width:map-get($breakpoints, mobile)){
  padding: 50px 30px;
}
}

@mixin padding-tablet {
  @media screen and (min-width:map-get($breakpoints, mobile-max)) and (max-width:map-get($breakpoints, tablet)){
      padding: 50px 110px;
}
}

@mixin btn-gradient {
  background: linear-gradient($color-secondary 4%, $color-primary);
}

@mixin box-shadow-light {
  box-shadow: 0px 10px 20px rgb(220, 218, 218);
}

@mixin mobile-only {
  @media screen and (max-width:map-get($breakpoints, mobile)){
    width: 480px;
    background: yellow;
   }
}

@mixin tablet-only {
  @media screen and (min-width:map-get($breakpoints, mobile-max)) and (max-width:map-get($breakpoints, tablet)){
    background: violet;
}
}