$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-quaterly: #eaeaea;
$color-fiftily: #f6f6f6;
$color-sixtily: #808080;
$color-sevently: #353535;
$color-eighth: #000000;
$color-nineth: #ffffff;

$font-primary: "roboto";
$font-secondary: "roboto bold";
$font-tertiary: "shrikhand";

$font-size-primary: 1.6rem;
$font-size-secondary: 1.3rem;
$font-size-tertiary: 1.1rem;
$font-size-quaterly: 0.8rem;
$font-size-fitily: 1.2rem;
