$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-quaterly: #eaeaea;
$color-fiftily: #f6f6f6;
$color-sixtily: #808080;
$color-sevently: #353535;
$color-eighth: #000000;
$color-nineth: #ffffff;
$color-tenth: linear-gradient($color-secondary 4%, $color-primary);

$font-primary: "roboto";
$font-secondary: "roboto bold";
$font-tertiary: "shrikhand";

$font-size-primary: 1.6rem;
$font-size-secondary: 1.1rem;
$font-size-tertiary: 1rem;
$font-size-quaterly: 0.9rem;
$font-size-fitily: 1.4rem;

$padding: 20px, 30px, 40px, 50px;

$breakpoints: (
  mobile-max: 479px,
  mobile-min: 480px,
  tablet-max: 599px,
  tablet-min: 600px,
  tablet-mid-max: 757px,
  tablet-mid-min: 758px,
  tablet-up-max: 967px,
  tablet-down-max: 968px,
  desktop-max: 1023px,
  desktop-min: 1024px,
);

$margin: (
  margin-small: 20px,
  margin-medium: 30px,
  margin-big: 40px,
);
