main {
  background: $color-fiftily;
  @include bloc-format;

  h1 {
    @include heading-title;
  }
}

.restaurants__container {
  background: $color-fiftily;
  display: flex;
  flex-flow: column nowrap;
  //   align-content: center;
  align-items: center;
}

.restaurants {
  flex: 1;
  width: 420px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  border: rgb(218, 214, 214) 1px solid;
  text-decoration: none;
  position: relative;
  // box-shadow: black 2px 2px;
  //   display: flex;
  //   flex-direction: column nowrap;

  &__frame {
    height: 220px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
  }

  &__img {
    width: 420px;
    // height: 220px;
    // border-radius: 20px 20px 0px 0px;
    object-fit: contain;
    object-position: 0px -67px;
  }

  // 2e restaurant, Reglages differents

  &__legend {
    height: 80px;
    text-decoration: none;
  }

  h2 {
    font-family: $font-secondary;
    padding: 15px 10px 0px;
    font-size: $font-size-secondary;
    color: $color-eighth;
  }

  &__location {
    padding: 0px 10px;
    font-size: $font-size-secondary;
    color: $color-eighth;
  }

  &__logo {
    position: absolute;
    right: 25px;
    bottom: 27px;
    font-size: 1.6rem;
  }

  .restaurants__portrait {
    object-position: 0px -188px;
  }

  &__new {
    position: absolute;
    right: 15px;
    top: 25px;
    padding: 5px 10px;
    background: #99e2d0;
    color: #008766;
    border: #99e2d0 1px solid;
    font-size: $font-size-tertiary;
  }
}
