header {
  width: 100%;

  img {
    height: 40px;
    display: block;
    margin: 0px auto 0px;
    padding: 20px;
    box-sizing: content-box;
  }
}

.arrow__logo {
  position: absolute;
  top: 17px;
  left: 21px;
  font-size: 1.2rem;
  color: black;
}

.logo {
  font-size: $font-size-primary;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  font-family: $font-tertiary;
}
