header {
  width: 100%;

  img {
    height: 40px;
    display: block;
    margin: 0px auto 0px;
    padding: 20px;
    box-sizing: content-box;
  }
}

.arrow__logo {
  position: absolute;
  top: 27px;
  left: 20px;
  font-size: 1.6rem;
  color: black;
}
