nav {
  @include bloc-format;

  h1 {
    @include heading-title;
  }

  li {
    text-align: center;
    font-size: $font-size-tertiary;
  }
}

.functionning {
  &__wrapper {
    list-style: none;
  }

  &__btn {
    margin: 20px auto;

    padding: 30px 0px;
    border-radius: 50px;
    position: relative;
    width: 400px;
    background: $color-fiftily;
  }

  &__number {
    border: solid 1px $color-primary;
    background: $color-primary;
    color: $color-nineth;
    font-size: 1rem;
    border-radius: 100px;
    padding: 0px 7px;
    position: absolute;
    left: -5px;
    top: 30px;
  }

  &__logo {
    color: grey;
    position: absolute;
    left: 50px;
    top: 32px;
    font-size: 1.4rem;
  }
}
