.logo {
  position: relative;
  top: -5px;
}

.search {
  width: 100%;
  color: black;
  height: 55px;
  background-color: $color-quaterly;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;

  &__input {
    height: 55px;
    display: inline;
    margin: 0 auto;
    background-color: $color-quaterly;
    font-size: $font-size-tertiary;
    text-align: center;
    border: none;
    color: black;

    &:focus-visible {
      outline: none;
    }

    &:focus {
      background-color: darken($color-quaterly, 4%);
    }

    &::before {
      content: "Paris, Belleville";
      color: black;
    }

    &::placeholder {
      color: black;
    }

    &:focus::-webkit-input-placeholder {
      color: transparent !important;
    }
    &:focus::-moz-placeholder {
      color: transparent !important;
    }
  }

  &__logo {
    float: left;
    position: relative;
    top: 15px;
    left: 14px;
    font-size: 1.2rem;
  }
}

.board {
  background: $color-fiftily;
  padding: 60px 0 80px;

  &__title {
    padding: 0px 75px;
    text-align: center;
    font-size: $font-size-primary;
    font-family: "roboto bold";
    margin-bottom: 20px;
  }

  &__prg {
    font-size: $font-size-secondary;
    padding: 0px 30px 30px;
    text-align: center;
    color: $color-sixtily;
  }
}

nav {
  padding: 20px 20px 40px;
  @include flex(wrap);

  h1 {
    @include heading-title;
  }

  li {
    text-align: center;
    font-size: $font-size-tertiary;
  }
}

.functionning {
  &__wrapper {
    list-style: none;

    @include tablet-only {
      display: flex;
      flex-flow: column nowrap;
      margin: 0 20px;
    }
  }

  &__btn {
    margin: 20px auto;
    font-family: "roboto medium";
    cursor: pointer;
    padding: 30px 0px;
    border-radius: 50px;
    position: relative;
    width: 400px;
    background-color: $color-fiftily;
    @include box-shadow-light;
    z-index: 1;

    @include tablet-only {
      width: 100%;
      flex: 1 1 auto;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
      & i {
        color: darken($color-primary, 35);
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: lighten($color-primary, 35);
      border-radius: 50px;
      opacity: 0;
      z-index: -1;
      box-shadow: 0px 5px 5px rgb(220, 218, 218);
      transition: opacity 250ms;
    }
  }

  &__number {
    border: solid 1px $color-primary;
    background: $color-primary;
    color: $color-nineth;
    font-size: 1rem;
    border-radius: 100px;
    padding: 5px 10px;
    position: absolute;
    left: -13px;
    top: 27px;
  }

  &__logo {
    color: grey;
    position: absolute;
    left: 50px;
    top: 32px;
    font-size: 1.4rem;
  }

  &__title {
    @include tablet-stop {
      text-align: center;
    }
    @include tablet-mid {
      text-align: center;
    }

    @include desktop-only {
      text-align: center;
    }
  }
}

main {
  background: $color-fiftily;
  padding: 20px 20px 40px;

  h1 {
    @include heading-title;
  }
}

.restaurants__container {
  background: $color-fiftily;
  display: flex;
  flex-flow: column nowrap;

  align-items: center;

  @include tablet-only {
    display: flex;
    flex-flow: row wrap;
  }

  @include tablet-stop {
    align-items: center;
  }

  @include tablet-mid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  @include desktop-only {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.restaurants {
  flex: 1;
  width: 420px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  border: rgb(218, 214, 214) 0px solid;
  text-decoration: none;
  position: relative;
  @include box-shadow-light;

  @include tablet-only {
    flex: 1 1 auto;
  }

  @include tablet-stop {
    flex: 0 1 auto;
    width: 540px;
  }

  @include tablet-mid {
    flex: 1 1 auto;
    width: 320px;
  }

  @include desktop-only {
    flex: 1 1 auto;
    width: 320px;
  }

  &:hover :nth-child(3) {
    opacity: 1;
  }
  &__frame {
    height: 250px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;

    @include tablet-only {
      flex: 1 1 auto;
    }
  }

  &__title {
    @include tablet-stop {
      text-align: center;
    }

    @include tablet-mid {
      text-align: center;
    }
    @include desktop-only {
      text-align: center;
    }
  }

  &__img {
    width: 480px;
    height: 250px;
    object-fit: cover;
    // object-position: 0px -67px;

    @include tablet-only {
      flex: 1 1 auto;
      width: 100%;
    }

    @include tablet-stop {
      width: 540px;
    }
  }

  // 2e restaurant, Reglages differents

  &__legend {
    height: 100px;
    text-decoration: none;
  }

  h2 {
    font-family: $font-secondary;
    padding: 20px 15px 0px;
    font-size: $font-size-fitily;
    color: $color-eighth;
  }

  &__location {
    padding: 0px 15px;
    font-size: $font-size-fitily;
    color: $color-eighth;
  }

  &__logo {
    position: absolute;
    right: 25px;
    bottom: 35px;
    font-size: 1.6rem;

    width: 25px;

    color: black;
    opacity: 1;

    font-weight: 400;
    transition: all, 330ms;
  }

  // .restaurants__portrait {
  // object-position: 0px -188px;
  // }

  &__new {
    position: absolute;
    right: 15px;
    top: 25px;
    padding: 5px 10px;
    background: #99e2d0;
    color: #008766;
    border: #99e2d0 1px solid;
    font-size: $font-size-tertiary;
  }
}

i.far.fa-heart {
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 5;

  color: black;
  // opacity: 1;
  font-weight: 400;
  transition: all, 330ms;

  &:hover {
    color: $color-primary;
    font-weight: 900;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;

  background-color: $color-tertiary;
  animation: loader 6000ms;
  animation-fill-mode: both;

  opacity: 0;
  z-index: 10;

  font-size: 20vh;
  color: white;

  &:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  & i {
    animation: rotate 3000ms;
    animation-iteration-count: infinite;
  }
}
