header {
  position: relative;
}

.background {
  overflow: hidden;

  img {
    width: 109%;
    object-position: -15px 0px;
  }
}

main {
  background: $color-fiftily;
  border-radius: 40px 40px 0px 0;
  position: relative;
  top: -48px;
  padding: 35px 20px 90px;
  margin-bottom: -48px;
}

i.far.fa-heart {
  position: absolute;
  right: 45px;
  top: 45px;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 5;

  color: black;
  opacity: 1;
  font-weight: 400;
  transition: all, 330ms;

  &:hover {
    color: $color-primary;
    font-weight: 900;
  }
}

.menu {
  font-family: $font-tertiary;
  @include break(600px) {
    text-align: center;
  }

  &__general {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  &__bloc {
    margin-top: 40px;

    flex: 0 1 auto;
    width: 460px;
  }

  &__title {
    font-size: $font-size-tertiary;
    text-transform: uppercase;
    color: $color-sixtily;
  }

  &__underline {
    width: 42px;
    height: 5px;
    background: $color-tertiary;
    margin: 5px 0 20px;
    border-radius: 50px;
  }

  &__carousel {
    background: $color-nineth;
    height: 80px;
    border-radius: 20px;
    padding: 15px 10px;
    margin: 20px 0px;
    margin-right: 0px;
    font-size: $font-size-tertiary;
    list-style: none;
    position: relative;
    cursor: pointer;
    @include box-shadow-light;

    transition: transform 400ms;
    transform-origin: left;
    overflow: hidden;

    &:hover .menu__price {
      transform: translate(-80px);
    }

    &:hover .menu__btn {
      transform: translate(-80px);
    }

    & span {
      transform: rotate(-180deg);
      transition: transform 700ms;
    }

    &:hover span {
      transform: rotate(0deg);
    }

    &:hover .menu__comments {
      width: 320px;
    }
  }

  &__btn {
    height: 80px;
    width: 80px;
    background-color: $color-tertiary;
    transition: transform 600ms ease-in-out;
    position: absolute;
    top: 0px;
    right: -80px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__main {
    font-family: $font-secondary;
    margin-bottom: 4px;
  }

  &__comments {
    color: $color-sixtily;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0px;
    transition: all 300ms ease-in-out 100ms;
    display: inline-block;
    width: 343px;
    transform-origin: left;
  }

  &__price {
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 1.1rem;
    font-family: $font-secondary;
    transition: transform 500ms ease-in-out;
  }

  &__appetizers {
    animation: fondu 500ms ease-in-out both 400ms;
    animation-fill-mode: both;
  }

  &__dishes {
    animation: fondu 500ms ease-in-out both 600ms;
    animation-fill-mode: both;
  }

  &__desserts {
    animation: fondu 500ms ease-in-out both 800ms;
    animation-fill-mode: both;
  }
}

.board__button {
  margin-top: 60px;
  padding: 10px 77px;
}
